// Global default params, used in configs
params {

  version = "1.0.0"

  project = null
  input = null
  output = null
  chip = null
  build = null

  chunkSize= 20000000
  minSampleCallRate = 0.5
  minSnpCallRate = 0.9
  maf = 0
  hwe = 1E-6
  cleanSampleIds = false
  excludeSamples = null
  useDoubleId = true

  pca_enabled = false
  pca_max_pc = 10
  pca_max_sd = 6

  imputation_server = "https://imputationserver.sph.umich.edu"
  imputation_reference_panel = "1000g-phase-3-v5"
  imputation_population = "eur"
  imputation_password = "lukas_48318786414"
  imputation_token = ""

  strand_file = "$baseDir/data/${params.chip}.strand"
  refalt_file = "$baseDir/data/${params.chip}.RefAlt"

}

docker.enabled = true
process.container= 'lukfor/pre-imputation:latest'

// default: resume
resume = true

// TODO: add profiles
